In [97]:
import pandas as pd
df = pd.read_csv('dataProcessed.csv').dropna()
df.reset_index(drop=True, inplace=True)

In [98]:
MAXBODYSIZE = 300
MAXHEADSIZE = 100
Stances = {'agree', 'disgree', 'discuss', 'unrelated'}

In [99]:
df.head(5)

,Body ID,articleBody,Headline,Stance,headProcessed,bodyProcessed
0,0,A small meteorite crashed into a wooded area i...,"Soldier shot, Parliament locked down after gun...",unrelated,soldier shoot parliament lock down after gunfi...,a small meteorit crash into a wood area in nic...
1,0,A small meteorite crashed into a wooded area i...,Tourist dubbed ‘Spider Man’ after spider burro...,unrelated,tourist dub spider man after spider burrow und...,a small meteorit crash into a wood area in nic...
2,0,A small meteorite crashed into a wooded area i...,Luke Somers 'killed in failed rescue attempt i...,unrelated,luke somer in fail rescu attempt in yemen,a small meteorit crash into a wood area in nic...
3,0,A small meteorite crashed into a wooded area i...,BREAKING: Soldier shot at War Memorial in Ottawa,unrelated,break soldier shoot at war memori in ottawa,a small meteorit crash into a wood area in nic...
4,0,A small meteorite crashed into a wooded area i...,Giant 8ft 9in catfish weighing 19 stone caught...,unrelated,giant catfish weigh stone catch in itali be th...,a small meteorit crash into a wood area in nic...

In [100]:
    
# unique bodies
Bodydf = df.groupby('Body ID').first()[['bodyProcessed']]
Bodydf.reset_index(inplace=True)
print(Bodydf.head(5))

# unique Heads
Headdf = df[['Body ID','headProcessed','Stance']]
print(Headdf.head(5))

   Body ID                                      bodyProcessed
0        0  a small meteorit crash into a wood area in nic...
1        4  last week we hint at what wa to come as ebola ...
2        5  newser wonder how long a quarter pounder with ...
3        6  post photo of a child onlin isi support announ...
4        7  at least suspect boko haram insurg be kill in ...
   Body ID                                      headProcessed     Stance
0        0  soldier shoot parliament lock down after gunfi...  unrelated
1        0  tourist dub spider man after spider burrow und...  unrelated
2        0          luke somer in fail rescu attempt in yemen  unrelated
3        0        break soldier shoot at war memori in ottawa  unrelated
4        0  giant catfish weigh stone catch in itali be th...  unrelated

In [101]:
Headdf.head(5)

   Body ID                                      headProcessed     Stance
0        0  soldier shoot parliament lock down after gunfi...  unrelated
1        0  tourist dub spider man after spider burrow und...  unrelated
2        0          luke somer in fail rescu attempt in yemen  unrelated
3        0        break soldier shoot at war memori in ottawa  unrelated
4        0  giant catfish weigh stone catch in itali be th...  unrelated

In [102]:
''' set maximum dimension '''
colIndex = Bodydf.columns.get_loc("bodyProcessed")
for index,row in Bodydf.iterrows():
    Bodydf.iat[index, colIndex] = " ".join(row['bodyProcessed'].split(' ')[:MAXBODYSIZE])
    
colIndex = Headdf.columns.get_loc("headProcessed")
for index,row in Headdf.iterrows():
    Headdf.iat[index, colIndex] = " ".join(row['headProcessed'].split(' ')[:MAXHEADSIZE])

In [103]:
totalText = []

In [114]:
def totalWordsForEmbedding(dfHead, dfBody):
    global totalText
    for index, row in dfHead.iterrows():
        totalText.append(row['headProcessed'].split(' '))
    for index, row in dfBody.iterrows():
        totalText.append(row['bodyProcessed'].split(' '))

In [115]:
totalWordsForEmbedding(Headdf, Bodydf)

In [122]:
''' CONDENSED FOR TEST '''

df = pd.read_csv('testProcessed.csv').dropna()
df.reset_index(drop=True, inplace=True)
Bodydf = df.groupby('Body ID').first()[['bodyProcessed']]
Bodydf.reset_index(inplace=True)
print(Bodydf.head(5))

# unique Heads
Headdf = df[['Body ID','headProcessed']]
print(Headdf.head(5))
''' set maximum dimension '''
colIndex = Bodydf.columns.get_loc("bodyProcessed")
for index,row in Bodydf.iterrows():
    Bodydf.iat[index, colIndex] = " ".join(row['bodyProcessed'].split(' ')[:MAXBODYSIZE])
    
colIndex = Headdf.columns.get_loc("headProcessed")
for index,row in Headdf.iterrows():
    Headdf.iat[index, colIndex] = " ".join(row['headProcessed'].split(' ')[:MAXHEADSIZE])
totalWordsForEmbedding(Headdf, Bodydf)

   Body ID                                      bodyProcessed
0        1  ha deni isra report state that he offer to ext...
1        2  a bereav afghan mother take reveng on the tali...
2        3  cnbc be report tesla ha choose nevada as the s...
3       12  a version of the iphon be say to be in develop...
4       19  gr editor s note there be no report in the wes...
   Body ID                                      headProcessed
0        1        appl instal safe to protect gold watch edit
1        1  deni claim he will give sinai land to palestinian
2        1       appl to keep gold watch edit in special safe
3        1  appl store to keep gold edit appl watch in cus...
4        1  south korean woman hair by robot vacuum cleane...

In [123]:
from keras.preprocessing.text import Tokenizer

In [124]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(totalText)
wordIndexs = tokenizer.word_index
vocabSize = tokenizer.word_counts
print(len(wordIndexs), len(vocabSize), tokenizer.document_count)

14666 14666 127941