In [10]:
import pandas as pd
import numpy as np
trainBodyDf = pd.read_csv('TrainBodyEmbed.csv')
trainHeadDf = pd.read_csv('TrainHeadEmbed.csv')

In [11]:
trainBodyDf.head(5)

   Body ID                                      bodyProcessed
0        0  small crash into wood area in capit overnight ...
1        4  last week we hint at what wa come as ebola fea...
2        5  newser wonder how long quarter pounder with ca...
3        6  post photo child onlin isi support announc tha...
4        7  at least suspect haram be kill in clash betwee...

In [12]:
trainHeadDf.head(5)

   Body ID                                      headProcessed     Stance
0        0  soldier shoot parliament lock down after erupt...  unrelated
1        0  tourist dub spider man after spider burrow und...  unrelated
2        0                      luke in fail attempt in yemen  unrelated
3        0               break soldier shoot at war in ottawa  unrelated
4        0  giant catfish weigh stone catch in be think be...  unrelated

In [ ]:
def CreateTrainingData(bodydf, headdf):